body {
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    background: #FCFCFC;
    color: white;
}

#Wrapper {
    /*Page Decor*/
    background: #a2a2a1;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;

    /*Outline*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Text*/

}

/*Header*/
.header {
    /*Outline*/
    box-shadow: -1px 1px 30px -20px gray;
}

.main--header {
    background: white;
    width: 100%;
    display: flex;

    flex-direction: row;
    box-sizing: border-box;
    /*justify-content: space-between;*/


    padding-left: 1rem;
}

/*Nav*/
.nav {
    /*Outline*/
    padding-left: 4rem;

    display: flex;
    align-items: center;

    /*Text*/
    font-size: 1.1rem;
}

.main--nav a {
    /*Outline*/
    color: black;
    padding: 1.4rem;
    border-right: #f6f2f2 solid 2px;

    text-decoration: none;
}

.main--nav a:last-child {
    border-right: white;
}


/*Main Content*/

.main--content {
    /*Outline*/
    width: 100%;

}

.main--title {
    color: black;
}

.section h1 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 50px;
    margin: 0;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ;
}

/*Skills Content*/

.skill {
    display: flex;
    width: 33.33%;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.skill img {
    width: 36px;
    height: 36px;
}

#skill--section-headers {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.section--skills {
    background: #832e09;
    box-sizing: border-box;
    position: relative;
}

.skill--four {
    width: 50%;
}

.skill--five {
    width: 50%;
}

/*Education Content*/



/*Footer*/
footer {
    /*Outline*/

}