* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    background: #FCFCFC;
}

#Wrapper {
    /*Page Decor*/
    background: #a2a2a1;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;

    /*Outline*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    /*Text*/

}

/*Header*/
.header {
    /*Outline*/
    box-shadow: -1px 1px 30px -20px gray;
}

.main--header {
    background: white;
    width: 100%;
    display: flex;

    flex-direction: row;
    box-sizing: border-box;
    /*justify-content: space-between;*/


    padding-left: 1rem;
}

/*Nav*/
.nav {
    /*Outline*/
    padding-left: 4rem;

    display: flex;
    align-items: center;

    /*Text*/
    font-size: 1.1rem;
}

.main--nav a {
    /*Outline*/
    color: black;
    padding: 1.4rem;
    border-right: #f6f2f2 solid 2px;

    text-decoration: none;
}

.main--nav a:last-child {
    border-right: white;
}


/*Main Content*/

.main--content {
    /*Outline*/
    width: 100%;

}

.main--title {
    color: black;
}

.section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 150px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 3rem;
}


.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Skills Content*/

.skill {
    display: flex;
    width: 33.33%;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
}

.skill img {
    width: 36px;
    height: 36px;
}

#skill--section-headers {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.section--skills {
    background: #832e09;
    box-sizing: border-box;
    position: relative;
}

.skill--four {
    width: 50%;
}

.skill--five {
    width: 50%;
}

/*Education Content*/
.section--education {
    background: #f6f2f2;
    box-shadow: -1px 1px 30px -20px gray;
}

/*timeline*/

.timeline {
    position: relative;
    margin: 50px auto;
    width: 1000px;
    padding: 40px 0;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul {
    margin: 0;
    padding: 0;
    color: black;
}

.timeline ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
}

.content {
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before {
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow:  0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li:nth-child(even):before {
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgba(233,33,99,1);
    border-radius: 50%;
    box-shadow:  0 0 0 3px rgba(233,33,99,0.2);
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgba(233,33,99,0.2);
    color: black;
}

.timeline ul li p {
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li .time h4 {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time {
    position: absolute;
    top: 12px;
    right: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,0.2);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

.timeline ul li:nth-child(even) .time {
    position: absolute;
    top: 12px;
    left: -165px;
    margin: 0;
    padding: 8px 16px;
    background: rgba(233,33,99,0.2);
    color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 0 3px rgba(233,33,99,0.3);
}

/*Portfolio*/

.section--portfolio h1 {
    background: #636361;
}

.portfolio--container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
}

.portfolio--container img {
    width: 25%;
    height: 50%;
}

/*Experience*/

.section--experience {
    box-shadow: -1px 1px 30px -20px gray;
    background: #e0dfdf;
}

.section--experience h1 {
    background: #FCFCFC;
    box-shadow: -1px 1px 30px -20px gray;
}

.exp--sub-section {
    display: flex;
    padding: 50px 30px 50px 30px;
    height: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.exp--headers {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.exp--headers .job--description {
    margin: 0;
    float: right;
    width: 75%;
}

.exp--headers h2 {
    margin: 0;
    width: 100%;
    float: left;
}

.exp--info {
    display: flex;
    flex-direction: column;
}

.exp--content {
    display: flex;
    padding-top: 40px;
    font-size: 1rem;
    text-align: right;
}

.exp--content-1 {
    display: flex;
    width: 50%;
}

.exp--content-2 {
    display: flex;
    width: 50%;
}

.exp--content-1 h4 {
    padding-right: 130px;
}

.exp--content-2 h4 {
    padding-right: 170px;
}

.exp--content h4 {
    padding-left: 40px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.job-list {
    display: flex;
    padding-right: 180px;
    flex-direction: column;
}

.job-list a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.job-list a:before {
    content:"\00bb";
    padding-right: 10px;
    font-weight: bolder;
    font-size: 28px;
}

/*Contact*/

.section--contact {
    margin: 70px 50px 70px 50px;
    flex-direction: row;
}

.section--contact header {
    width: 200px;
    font-size: 2rem;
    font-weight: bolder;
}

#form--contact {
    display: flex;
    align-self: flex-end;
    flex-wrap: wrap;
    width: 70%;
    margin: 0;
}

#subject {
    flex: 100%;
    margin-bottom: 10px;
    font-size: 1.1rem;
    padding: 5px;
}

#name, #email {
    flex: 50%;
    margin-bottom: 10px;
    font-size: 1.1rem;
    padding: 5px;
}

#message {
    flex: 100%;
    margin-bottom: 10px;
    font-size: 1.1rem;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    color: black!important;
}


/*Footer*/
footer {
    /*Outline*/
    color: white;
    height: 100px;
    width: 100%;
    background: #832e09;
}