<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">

    <title>Dev|Resume</title>
</head>
<body>
<div id="Wrapper">
<!--    Nav/ Header-->
    <header class="main--header header">
        <h1 class="main--title title">Dev|Resume</h1>

        <nav class="main--nav nav">
            <a href="#">Skills</a>
            <a href="#">Experience</a>
            <a href="#">Portfolio</a>
            <a href="#">Education</a>
            <a href="#">Contact</a>
        </nav>
    </header>
<!--    Main Content-->
    <main class="main--content">
<!--        Skills Section-->
        <section class="section--skills section">
            <h1>My Skills</h1>
                <div id="skill--section-headers">
                    <div class="skill--one skill">
<!--                        add data attr for each skill - hover gives a list-->
                        <h3>WEB DEVELOPMENT</h3>
                        <img src="../static/icons8-responsive-96.png" alt="web development image">
                    </div>
                    <div class="skill--two skill">
                        <h3>PROGRAMMING LANGUAGES</h3>
                        <img src="../static/icons8-code-96.png" alt="programming image">
                    </div>
                    <div class="skill--three skill">
                        <h3>DATABASE MGT. SYSTEMS</h3>
                        <img src="../static/icons8-search-database-96.png" alt="database image">
                    </div>
                    <div class="skill--four skill">
                        <h3>VERSION CONTROL</h3>
                        <img src="../static/icons8-code-fork-96.png" alt="git image">
                    </div>
                    <div class="skill--five skill">
                        <h3>WEB FRAMEWORKS</h3>
                        <img src="../static/icons8-web-design-96.png" alt="web design image">
                    </div>
                </div>

        </section>
<!--        Experience Section-->
        <section class="section--education section">
            <h1 style="background: #a2a2a1; color: black">Education</h1>
            <div id="education--area" style="background: #f6f2f2">
{#                Timeline#}
                <div class="timeline">
                    <ul>
{#                        timeline content 1#}
                        <li>
                            <div class="content">
                            <h3>WHat is lorem imsajfl</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad assumenda, at commodi consequatur, culpa deleniti facilis iure nam nisi omnis quasi suscipit? Accusamus, atque debitis?</p>
                            </div>
                            <div class="time">
                                <h4>January 2018</h4>
                            </div>
                        </li>
{#                        timeline content 2#}
                        <li>
                            <div class="content">
                            <h3>WHat is lorem imsajfl</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad assumenda, at commodi consequatur, culpa deleniti facilis iure nam nisi omnis quasi suscipit? Accusamus, atque debitis?</p>
                            </div>
                            <div class="time">
                                <h4>January 2018</h4>
                            </div>
                        </li>
                        {#        timeline content 3#}
                        <li>
                            <div class="content">
                            <h3>WHat is lorem imsajfl</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad assumenda, at commodi consequatur, culpa deleniti facilis iure nam nisi omnis quasi suscipit? Accusamus, atque debitis?</p>
                            </div>
                            <div class="time">
                                <h4>January 2018</h4>
                            </div>
                        </li>
                    </ul>
                        <div style="clear: both"></div>
                </div>
            </div>
        </section>
<!--        Portfolio Section-->
        <section class="section--portfolio section">
            <h1>Portfolio</h1>
            <div class="portfolio--container">
                <img style="background: black" src="https://robohash.org/one.png" alt="robohash image">
                <img style="background: yellow" src="https://robohash.org/two.png" alt="robohash image">
                <img style="background: white" src="https://robohash.org/three.png" alt="robohash image">
                <img style="background: purple" src="https://robohash.org/four.png" alt="robohash image">
                <img style="background: orange" src="https://robohash.org/five.png" alt="robohash image">
                <img style="background: gray" src="https://robohash.org/six.png" alt="robohash image">
                <img style="background: brown" src="https://robohash.org/seven.png" alt="robohash image">
                <img style="background: coral" src="https://robohash.org/eight.png" alt="robohash image">
<!--                <img style="background: blue" src="https://robohash.org/nine.png" alt="robohash image">-->
<!--                <img style="background: red" src="https://robohash.org/ten.png" alt="robohash image">-->
            </div>
        </section>
<!--        Education Section-->
        <section class="section--experience section">
            <h1>Experience</h1>
            {#            Sub Sections#}
            <div class="exp--sub-section">
                <div class="exp--headers">
                    <div class="exp--info">
                    <h2>Sales Associate</h2>
                    <strong style="word-spacing: 15px">T-Mobile 2013--2016</strong>
                    </div>
                    <p class="job--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet beatae blanditiis consequatur dolores ea esse fugiat iure laborum modi molestiae mollitia, nesciunt quasi repellendus sed soluta tempore voluptate voluptates!</p>
                </div>
                <div class="exp--content">
                <div class="exp--content-1" style="display: block">
                    <h4>Responsibilities:</h4>
                    <div class="job--responsibilities job-list">
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                    </div>
                </div>
                <div class="exp--content-2" style="display: block">
                    <h4>Experience:</h4>
                    <div class="job--experience job-list">
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                    </div>
                </div>
              </div>
            </div>
            <div class="exp--sub-section">
                <div class="exp--headers">
                    <div class="exp--info">
                    <h2>Account Manager</h2>
                    <strong style="word-spacing: 15px">Comcast 2018--Current</strong>
                    </div>
                    <p class="job--description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet beatae blanditiis consequatur dolores ea esse fugiat iure laborum modi molestiae mollitia, nesciunt quasi repellendus sed soluta tempore voluptate voluptates!</p>
                </div>
                <div class="exp--content">
                <div class="exp--content-1" style="display: block">
                    <h4>Responsibilities:</h4>
                    <div class="job--responsibilities job-list">
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                    </div>
                </div>
                <div class="exp--content-2" style="display: block">
                    <h4>Experience:</h4>
                    <div class="job--experience job-list">
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                        <a href="#">Test Content</a>
                    </div>
                </div>
              </div>
            </div>


        </section>
<!--        Contact Section-->
        <section class="section--contact section">
            <h1>Contact Title</h1>
        </section>
    </main>
<!--    Footer-->
    <footer>
        <header class="footer--header header">Footer Header</header>
        <nav class="footer--nav nav">
            <a href="#">Copyright &copy; 2021</a>
            <a target="_blank" href="undefined/icons/set/web-design">Web Design icon</a> icon by <a target="_blank" href="">Icons8</a>
        </nav>
    </footer>
</div>

<script src="../static/script.js"></script>
</body>
</html>